PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://neondb_owner:npg_vUG4tq1xEnwh@ep-muddy-mud-ao278cpa-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require



CLERK_PUBLISHABLE_KEY=pk_test_cGxlYXNlZC1qb2V5LTc5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_aNTXcc71I4fuyNkocyp5AQAJKpVTU5yIKURxckaDnx


SENTRY_DSN=https://5c31b0ce0d4717f2d616326069822f23@o4511444864139264.ingest.de.sentry.io/4511444868857936

STREAM_API_KEY=43s53x6s59fs
STREAM_API_SECRET=pugrs34edduxhpag9dhhedvy5m9rzumrt5f2cugz2d4aef7wnd94wrq92yqjxe35

IMAGEKIT_PUBLIC_KEY=public_wSnoJk8G0rR2kchB+EAxPasHRaY=
IMAGEKIT_PRIVATE_KEY=private_m+vFvvp1mZRuPRX8UwuPbjIX1VM=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/mnurioufw

